#tips{
    padding: 2rem 5rem;
   background-color: #f2f3f5;
   .tips__content{
       padding: 0 10rem;
   }
    .tips__item{
        background-color: white;
        margin-right: 1rem;
        padding: 1rem 1rem;
        img{
            margin-right: 1rem;
        }
    }
}